@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');



body {
  padding: 0px 250px 0px 250px;
  background: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

}
.links-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.links-container img {
  width: 25px;
}
.just-container {
  background-color: rgb(255, 255, 255);
  z-index: 1;
  
  border: 1px solid #000000;
  margin: 0 auto;
}
#vklogo {
  width: 26px;
}
#photo {
  width: 210px;
  padding: 20px;
}
.footer-links-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  position: relative;
  right: 25px;
}
.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
}

.vktext {
  position: relative;
  bottom: 43px;
  left: 30px;
}
.instext {
  position: relative;
  bottom: 43px;
  left: 30px;
}
.leftandright {
  display: flex;
  flex-direction: row;
}
.left {
  background-color: black;
  width: 500px;
  color: white;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.projects-container li {
  list-style-type: none;
}
.projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 60px;
}
.education-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 100px;
}
.experience-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 120px;
}
.code-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 130px;
}

.about h1 {
  margin-top: 30px;
}
.about h2 {
  position: relative;
  bottom: 20px;
}
.about center {
  position: relative;
  bottom: 10px;
}
.projects-container h2 {
  position: relative;
  right: 97px;
  background-color: rgb(255, 0, 0);
  border: thick double #000000;
  padding: 0px 11px;
}
.education-container h2 {
  position: relative;
  right: 54px;
  border: thick double #000000;
  background-color: rgb(255, 0, 0);
  padding: 0px 11px;
}
.experience-container h2 {
  position: relative;
  right: 75px;
  border: thick double #000000;
  background-color: rgb(255, 0, 0);
  padding: 0px 11px;
}
.code-container h2 {
  position: relative;
  border: thick double #000000;
  background-color: rgb(255, 0, 0);
  padding: 0px 11px;
  right: 35px;
}
.code {
  position: relative;
  right: 35px;
  top: 8px;
}
.projects-container a {
  position: relative;
  left: 40px;
  bottom: 5px;
}
.education_text {
  position: relative;
  left: 13px;
}
.experience-container p {
  position: relative;
  left: 25px;
}
.inst {
  position: relative;
  bottom: 50px;
}
.number {
  position: relative;
  bottom: 95px;
}
.mail {
  position: relative;
  bottom: 85px;
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 53px;
  right: 15px;
  
}
.languages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 10px;
  right: 15px;
}
.languages-container h2 {
  position: relative;
  right: -7px;
  color: red;
}
.line {
  border: none;
  background-color: red;
  position: relative;
  height: 2px;
  right: 34px;
  bottom: 10px;
}
.vl {
  border-left: 2px solid rgb(0, 0, 0);
  height: 550px;
  position: absolute;
  left: 650px;
  margin-left: 50px;
  top: 370px;
}
.line1 {
  position: relative;
  top: -45px;
}

.line3 {
  position: relative;
  top: -190px;
}
pre {
  background-color: rgba(250, 235, 215, 0.555);
  width: 250px;
  position: relative;
  left: 40px;
}
code {
  position: relative;
  right: 125px;
  top: 7px;
}
.skills-container h2{
  color: red;
}
#text {
  font-family: "Judson";
}
h1 {
  font-family: Qwigley;
  font-size: 60px;
}
.about-container h2 {
  position: relative;
  bottom: 50px;
}
.about-container center {
  position: relative;
  bottom: 40px;
}

